language = "java10"

# COMPILE the CLASS
#run = "javac -d bin -classpath bin src/recursionAssignment/Recursion.java"
#run = "javac -d bin src/recursionAssignment/RecursionTest.java"

# RUN THE CLASS
#run = "java --class-path bin recursionAssignment.Recursion"

# COMPILE the TEST CLASS
#run = "javac -d bin -sourcepath src -classpath lib/junit-platform-console-standalone-1.7.0-M1.jar src/recursionAssignment/RecursionTest.java"

# RUN the TEST CLASS
run = "java -jar lib/junit-platform-console-standalone-1.7.0-M1.jar --classpath bin -c recursionAssignment.RecursionTest"